.about__titles {
    max-width: 593px;
}
.about__card-list{
    display: flex;
    gap: 20px;
}
.about-card-item {
    width: 150px;
    height: 150px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.about-card-item__footer {
display: flex;
justify-content: space-between;
}

.page-about__choice-block {
display: flex;
gap: 40px;
margin-top: 20px;
}

.choice-block__btn {
display: flex;
gap: 8px;
cursor: pointer;
}

.page-about__profile-list {
display: flex;
gap: 20px;
border-top: 1px solid #DBDBDB;
}

.profile-item {
border: 1px solid #dbdbdb;
padding: 10px;
width: 200px;
height: 150px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.profile-item__date {
    display: flex;
    gap: 8px;
}