.sidebar {
width: 375px;
height: 100%;

display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
padding: 50px 20px;
justify-content: space-evenly ;
border-right: 1px dotted #6D8093;
text-align: center;
}
